<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.obeonetwork.m2doc.ide.services.register">
      <token
            name="Capella">
         <service
               class="org.polarsys.capella.core.model.utils.CollectionExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.utils.EClassExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.utils.CapellaLayerCheckingExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.utils.ListExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.PhysicalLinkExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.FunctionalChainExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ComponentExchangeCategoryExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.AbstractFunctionExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.StateMachineExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.MergeLinkExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.PortExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.CollectionExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ClassifierExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ExceptionPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ProjectExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.AbstractFragmentExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.SystemAnalysisExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.NamespaceExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.PhysicalPathExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.AbstractDependenciesPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.OperationalAnalysisExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.SystemEngineeringExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.PartExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.AssociationExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.SignalExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.SequenceLinkEndExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.PropertyExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.BlockArchitectureExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.SignalPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.PhysicalComponentExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.CapellaElementExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.RefinementLinkExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.SequenceMessageExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.LogicalComponentExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.DataTypePkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.PhysicalLinkCategoryExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.AbstractCapabilityExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ComponentExchangeExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ClassExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.StateExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.DataValueExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ScenarioExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.InterfacePkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.SequenceLinkExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.FunctionalExchangeExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ComponentPortAllocationExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.InterfaceExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.PhysicalArchitectureExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.DataPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.AbstractCapabilityPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ConstraintExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.MessagePkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ExceptionExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ClassPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ServiceExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.StructureExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ComponentArchitectureExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.MessageExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.DataTypeExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ComponentExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ExchangeItemExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.AbstractExchangeItemPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.CapabilityRealizationExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.OperationExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.ConfigurationItemExt">
         </service>
         <service
               class="org.polarsys.capella.core.model.helpers.LogicalComponentPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.libraries.model.CapellaLibraryExt">
         </service>
         <service
               class="org.polarsys.capella.core.libraries.queries.QueryExt">
         </service>
         <service
               class="org.obeonetwork.capella.m2doc.aql.queries.M2DocGenServices">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.fa.services.FunctionPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.fa.services.FunctionalExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.fa.services.FunctionPortExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.fa.services.FunctionExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.la.services.CapabilityRealizationPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.information.services.ExchangeMechanismExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.information.services.CommunicationLinkExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.information.services.ValuePkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.information.services.ExchangeItemElementExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.information.services.DataTypeExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.information.services.ExchangeItemExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.capellacore.services.CapellaElementExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.capellacore.services.NamedElementExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.capellacore.services.GeneralizableElementExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.cs.services.PhysicalLinkExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.cs.services.ExchangeItemAllocationExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.InstanceRoleExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.AbstractEndExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.ExecutionEndExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.StateFragmentExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.SequenceMessageExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.AbstractCapabilityExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.MessageEndExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.ScenarioExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.interaction.services.FragmentEndExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.epbs.services.EPBSArchitectureExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.pa.services.PhysicalComponentPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.pa.services.DeployConfExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.pa.services.ComponentInstanceExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.ctx.services.MissionPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.ctx.services.CapabilityPkgExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.ctx.services.CapabilityExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.ctx.services.OperationalCapabilityExt">
         </service>
         <service
               class="org.polarsys.capella.core.data.helpers.ctx.services.MissionExt">
         </service>
         <package
               uri="http://www.polarsys.org/capella/core/ctx/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/core/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/modeller/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/information/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/common/behavior/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/fa/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/requirement/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/oa/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/information/datavalue/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/epbs/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/common/activity/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/common/re/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/interaction/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/information/communication/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/la/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/information/datatype/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/pa/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/cs/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/common/core/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/sharedmodel/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/common/1.4.0">
         </package>
         <package
               uri="http://www.polarsys.org/capella/core/pa/deployment/1.4.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/description/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/description/audit/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/description/style/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/description/tool/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/description/validation/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/description/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/description/concern/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/description/filter/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/description/style/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/description/tool/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/sequence/2.0.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/sequence/description/2.0.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/sequence/description/tool/2.0.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/sequence/ordering/2.0.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/diagram/sequence/template/2.0.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/dsl/formatdata/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/table/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/table/description/1.1.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/tree/1.0.0">
         </package>
         <package
               uri="http://www.eclipse.org/sirius/tree/description/1.0.0">
         </package>
         <package
               uri="http://www.polarsys.org/kitalpha/ad/sirius/1.0.0">
         </package>
         <service
               class="org.polarsys.capella.core.sequencediag.InteractionAspectService">
         </service>
         <service
               class="org.polarsys.capella.core.sequencediag.ScenarioService">
         </service>
         <service
               class="org.polarsys.capella.core.sequencediag.ScenarioContraintsService">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.ABServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.CapellaServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.ConfigurationItemServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.ContextServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.CsServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.DFScenarioServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.DFServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.DiagramServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.DragAndDropServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.FunctionalChainServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.IBServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.InformationServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.InteractionServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.LaServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.LogicalServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.ModeStateMachineServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.OAServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.PhysicalServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.RequirementServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.SequenceDiagramServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.StateMachineServices">
         </service>
         <service
               class="org.polarsys.capella.core.sirius.analysis.TableCapabilitiesServices">
         </service>
      </token>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.obeonetwork.capella.m2doc.aql.queries.category.ID"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            icon="icons/new_project_capella.png"
            id="capella.m2doc.aql.queries.capellam2docproject"
            name="Capella IFE example with M2Doc templates project"
            project="true">
         <description>
            Creates a sample project based on the IFE project , with M2Doc generation models and the associated Word templates.
         </description>
      </wizard>
      <category
            id="org.obeonetwork.capella.m2doc.aql.queries.category.ID"
            name="Capella - M2Doc">
      </category>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            id="capella.m2doc.aql.queries.examples.m2doccapella"
            wizardID="capella.m2doc.aql.queries.capellam2docproject">
         <projectDescriptor
               contentURI="zips/m2docife.zip"
               name="In-Flight Entertainment System With M2Doc">
         </projectDescriptor>
      </example>
   </extension>
</plugin>
