<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Capella M2Doc Extension" sequenceNumber="1736439034">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.obeonetwork.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.sirius.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.ui.jdt.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.html.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.launcher.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.tests" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.sirius.tests" version="0.0.0"/>
      <repository location="https://s3-eu-west-1.amazonaws.com/obeo-m2doc-releases/3.3.4/repository/"/>
    </location>
  </locations>
</target>
