<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Capella M2Doc Extension" sequenceNumber="1522857742">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.interpreter.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <repository id="sirius-5.1.0" location="http://archive.eclipse.org/sirius/updates/releases/5.1.0/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.polarsys.kitalpha.ad.runtime.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.cadence.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.common.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.emde.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.emde.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.commands.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.scrutiny.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.share.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.contrib.viewpoints.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.patterns.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.report.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.report.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.transposer.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.richtext.widget.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.doc.feature.feature.group" version="0.0.0"/>
      <repository id="kitalpha-runtime-master-latest" location="http://download.polarsys.org/kitalpha/updates/stable/runtime/1.2.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.sirius.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.gmf.feature.feature.group" version="0.0.0"/>
      <repository id="diffmerge-core-master" location="http://download.eclipse.org/diffmerge/releases/0.9.0/emf-diffmerge-site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.patterns.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.patterns.sirius.sdk.feature.feature.group" version="0.0.0"/>
      <repository id="diffmerge-patterns-master" location="http://download.eclipse.org/diffmerge/releases/0.9.0/edm-patterns-site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.explorer.activity.feature.group" version="0.0.0"/>
      <repository id="amalgam-1.9.0" location="http://download.eclipse.org/modeling/amalgam/updates/milestones/1.9.0RC1/capella"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.query.legacy.feature.feature.group" version="0.0.0"/>
      <repository id="sirius-query-legacy-1.1.0" location="http://download.eclipse.org/sirius/updates/legacy/1.1.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.feature.feature.group" version="0.0.0"/>
      <repository id="nebula-1.2.0" location="http://download.eclipse.org/nebula/releases/1.2.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
      <unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
      <unit id="org.jsoup" version="1.7.2.v201304221138"/>
      <repository id="orbit-R20130827064939" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <repository id="orbit-R20140525021250" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.polarsys.capella.core.feature.feature.group" version="0.0.0"/>
      <repository id="site_Capella" location="http://download.polarsys.org/capella/core/updates/releases/1.2.0-R20171103-050121/org.polarsys.capella.rcp.site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.workspace" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="com.ibm.icu" version="0.0.0"/>
      <repository id="eclipse-releases-neon" location="http://download.eclipse.org/releases/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.obeonetwork.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.sirius.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.apache.poi.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.tests" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.sirius.tests" version="0.0.0"/>
      <repository location="https://s3-eu-west-1.amazonaws.com/obeo-m2doc-releases/master/nightly/repository"/>
    </location>
  </locations>
</target>
